<?xml version="1.0"?>
<!--
/**
 * @author Aurélien Jourquin <aurelien@growzup.com>
 * @link http://www.ajourquin.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  Add filterBucket type to aggregation builder container -->
    <type name="Magento\Elasticsearch\SearchAdapter\Aggregation\Builder">
        <arguments>
            <argument name="aggregationContainer" xsi:type="array">
                <item name="filterBucket" xsi:type="object">Ajourquin\CustomProductFilter\SearchAdapter\Aggregation\Builder\Filter</item>
            </argument>
        </arguments>
    </type>
</config>
